<div class="sidebar">
    <div class="title">
        G<a class="small">raph</a>
        U<a class="small">ser</a>
        M<a class="small">anagement</a>
        S<a class="small">ystem</a>
    </div>
    <div class="center no-wrap">
        <button mat-raised-button color="primary" type="submit" (click)="newUser()" class="center">
            <mat-icon style="color: white">person_add_alt_1</mat-icon>
            Add User
        </button>

    </div>
    <br>
    <div class="center no-wrap">
        <button mat-raised-button color="primary" type="submit" (click)="newProject()" class="center">
            <mat-icon style="color: white">add_box</mat-icon>
            Add Project
        </button>
    </div>
    <br>
    <div class="center">
        <button mat-raised-button color="warn" type="submit" (click)="logout()" class="center">
            <mat-icon style="color: white">logout</mat-icon>
            Logout
        </button>
    </div>
</div>