<div class="sidebar">
    <div class="title">
        G<a class="small">raph</a>
        U<a class="small">ser</a>
        M<a class="small">anagement</a>
        S<a class="small">ystem</a>
    </div>

    <div class="center text">
        <form [formGroup]="userFormGroup">
            <input type="text" placeholder="name" [formControl]="userFormGroup.controls['name']">
            <br>
            <input type="number" placeholder="age" [formControl]="userFormGroup.controls['age']">
            <br>
            <input type="email" placeholder="email" [formControl]="userFormGroup.controls['email']">
            <br>
            <input type="password" placeholder="password" [formControl]="userFormGroup.controls['password']">
            <br>
            Admin <input type="checkbox" placeholder="Admin" [formControl]="userFormGroup.controls['isAdmin']">
            <br>
            <div *ngIf="userFormGroup.controls['isAdmin'].value === true">
                <input type="text" placeholder="admin key" [formControl]="userFormGroup.controls['adminKey']">
            </div>
            <br>
            <button class="add-user-button text" (click)="addUser()" type="submit">
                Add User
            </button>
        </form>
    </div>
</div>
