<h2 mat-dialog-title class="text">{{data.mode}} Project</h2>
<mat-dialog-content>
    <form [formGroup]="projectFormGroup" class="center min-width-p">
        <br>
        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput [formControl]="projectFormGroup.controls['name']">
        </mat-form-field>
        <br>
        <mat-divider></mat-divider>
        <br>
        <mat-form-field appearance="outline">
            <mat-label>Content</mat-label>
            <textarea matInput [formControl]="projectFormGroup.controls['content']">
                </textarea>
        </mat-form-field>
        <br>
        <mat-divider></mat-divider>
        <br>
        <p>Collaborator Names</p>
        <div *ngFor="let collaboratorNameControl of projectFormGroup.controls['collaboratorNames'].controls; let i = index">
            <mat-form-field appearance="outline">
                <mat-label>Collaborator name - {{i + 1}}</mat-label>
                <button mat-icon-button matSuffix (click)="delete(collaboratorNameControl.value, 'collaboratorNames')"
                        type="button"
                        [disabled]="collaboratorNameControl.value === projectFormGroup.controls['ownerName'].value"
                        [class.disabled]="collaboratorNameControl.value === projectFormGroup.controls['ownerName'].value"
                        class="background-transparent no-border">
                    <mat-icon style="color: white">delete_outline</mat-icon>
                </button>
                <input matInput type="text" [formControl]="collaboratorNameControl">
            </mat-form-field>
        </div>
        <button mat-raised-button color="secondary" (click)="add('collaboratorNames')" class="center">
            <mat-icon style="color: white">add</mat-icon>
            Add
        </button>
        <br>
        <br>
        <mat-divider></mat-divider>
        <br>
        <p>Linked project Names</p>
        <div *ngFor="let projectNameControl of projectFormGroup.controls['linkedProjectNames'].controls; let i = index">
            <mat-form-field appearance="outline">
                <mat-label>Linked project name - {{i + 1}}</mat-label>
                <input matInput type="text" [formControl]="projectNameControl">
                <button mat-icon-button matSuffix (click)="delete(projectNameControl.value, 'linkedProjectNames')"
                        type="button"
                        class="background-transparent no-border">
                    <mat-icon style="color: white">delete_outline</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <button mat-raised-button color="secondary" (click)="add('linkedProjectNames')" class="center">
            <mat-icon style="color: white">add</mat-icon>
            Add
        </button>
        <br>
        <br>
        <mat-divider></mat-divider>
        <br>
        <mat-form-field appearance="outline">
            <mat-label>Owner name</mat-label>
            <input matInput type="text" [formControl]="projectFormGroup.controls['ownerName']">
        </mat-form-field>
        <br>
        <mat-divider></mat-divider>
        <br>
        <p>Properties</p>
        <div *ngFor="let propertyKey of propertiesKeyControls; let i = index">
            <mat-form-field appearance="outline">
                <mat-label>key - {{i + 1}}</mat-label>
                <input matInput type="text" [formControl]="propertyKey">
                <button mat-icon-button matSuffix (click)="delete(propertyKey.value, 'properties')"
                        type="button"
                        class="background-transparent no-border">
                    <mat-icon style="color: white">delete_outline</mat-icon>
                </button>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>value - {{i + 1}}</mat-label>
                <input matInput type="text" [formControl]="propertiesValueControls[i]">
            </mat-form-field>
        </div>
        <button mat-raised-button color="secondary" (click)="add('properties')" class="center">
            <mat-icon style="color: white">add</mat-icon>
            Add
        </button>
        <br>
        <br>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="center">
    <button mat-raised-button (click)="onCloseClick()">Close</button>
    <button mat-raised-button color="primary" (click)="submitForm()">Save</button>
    <button *ngIf="data.mode === 'Edit'" mat-raised-button color="warn" (click)="deleteProject()">Delete</button>
</mat-dialog-actions>
